@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rs18jy');
    src:  url('../fonts/icomoon.eot?rs18jy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rs18jy') format('truetype'),
    url('../fonts/icomoon.woff?rs18jy') format('woff'),
    url('../fonts/icomoon.svg?rs18jy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Artboard_a:before {
    content: "\e900";
}
.icon-Artboard_b:before {
    content: "\e901";
}
.icon-Artboard_c:before {
    content: "\e902";
}
.icon-Artboard_d:before {
    content: "\e903";
}
.icon-Artboard_e:before {
    content: "\e904";
}
.icon-Artboard_f:before {
    content: "\e905";
}
.icon-Artboard_g:before {
    content: "\e906";
}
.icon-Artboard_h:before {
    content: "\e907";
}
.icon-Artboard_i:before {
    content: "\e908";
}
.icon-Artboard_j:before {
    content: "\e909";
}
.icon-Artboard_k:before {
    content: "\e90a";
}
.icon-Artboard_l:before {
    content: "\e90b";
}
.icon-Artboard_m:before {
    content: "\e90c";
}
.icon-Artboard_n:before {
    content: "\e90d";
}
.icon-Artboard_o:before {
    content: "\e90e";
}
.icon-Artboard_p:before {
    content: "\e90f";
}
.icon-Artboard_q:before {
    content: "\e910";
}
.icon-Artboard_r:before {
    content: "\e911";
}
.icon-Artboard_s:before {
    content: "\e912";
}
.icon-Artboard_t:before {
    content: "\e913";
}





/*antd的样式表*/
@font-face {
    font-family: 'anticon';
    src: url('../fonts/font_r5u29ls31bgldi.eot');/* IE9*/
    src: url('../fonts/font_r5u29ls31bgldi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/font_r5u29ls31bgldi.woff') format('woff'), /* chrome、firefox */
    url('../fonts/font_r5u29ls31bgldi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/font_r5u29ls31bgldi.svg#iconfont') format('svg');/* iOS 4.1- */
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
