.main-nav a {
    display: block;
    font-size: 24px;
    color: #666666;
    padding: 22px 0 25px;
    border-bottom: 2px solid #dedede;
    text-align: center;
}

.main-nav a.current,
.main-nav a:hover {
    color: #289aec;
    border-color: #289aec;
}
.index-bg{
    margin: 0 auto;
    display: block;
    width: 1000px;
}
